#container {
    width: 500px;
    height: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    user-select: none;
}

h2 {
    margin: 10px;
    text-align: center;
}

.border {
    border: 1px solid black;
}


.top {
    margin: 0px;
    text-align: center;
}

.middle {
    margin: 0px;
    font-size: 16px;
    text-align: center;
}

.bottom {
    margin-top: 10px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.right {
    box-sizing: border-box;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.batting-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.pitching-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    overflow-x: hidden;
}

.options {
    height: 150px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin-left: 25%;
    margin-bottom: 20px;
    gap: 15px;
    overflow-y: auto;
    overflow-x: auto;
}

.general {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    gap: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.contact {
    position: absolute;
    text-align: center;
    width: 500px;
    top: 310px;
}

/* Scrollbar */

.scrollbar::-webkit-scrollbar {
    width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    border: 1.5px solid #616161;
    border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #616161;
    border: 2px solid #616161;
    border-radius: 8px;
}

/* Tooltip */

.has-tooltip {

    color: #fff;
    background-color: #747474;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
    margin-left: 5px;
    margin-top: 2.5px;

}

.tooltip-wrapper {
    position: absolute;
    visibility: hidden;
}

.has-tooltip:hover .tooltip-wrapper {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    width: 480px;
    height: 60px;
    display: block;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #FFFFFF;
    background: #000000;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 4px 3px 10px #bababa;
    font-size: 15px;
}

/* Checkbox */

label {
    display: flex;
    flex-direction: row;
}

.checkbox-wrapper-21 .control {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 15px;
}

.checkbox-wrapper-21 .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox-wrapper-21 .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 20%;
    background: #e6e6e6;
    border: 1px black solid;
}

.checkbox-wrapper-21 .control:hover input~.control__indicator,
.checkbox-wrapper-21 .control input:focus~.control__indicator {
    background: #ccc;
}

.checkbox-wrapper-21 .control input:checked~.control__indicator {
    background: #2aa1c0;
}

.checkbox-wrapper-21 .control:hover input:not([disabled]):checked~.control__indicator,
.checkbox-wrapper-21 .control input:checked:focus~.control__indicator {
    background: #0e647d;
}

.checkbox-wrapper-21 .control input:disabled~.control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.checkbox-wrapper-21 .control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.checkbox-wrapper-21 .control input:checked~.control__indicator:after {
    display: block;
}

.checkbox-wrapper-21 .control--checkbox .control__indicator:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-wrapper-21 .control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b;
}